@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(221, 100%, 96%);
    font-family: "Hanken Grotesk", sans-serif;
}
main{
    display: flex;
}
.left-side{
    position: relative;
    background-color: hsl(241, 81%, 54%);
    right: -1.25rem;
    max-width: 21.8rem;
    height: 28.12rem; 
    border-radius: 1.25rem;
}
.left-side h1, .circle, h4{
    margin-top: 1.875rem;
}
.left-side h1{
    text-align: center;
    color: hsl(241, 100%, 89%);
    font-weight: 500;
}
.circle{
     background: linear-gradient(to bottom, hsla(256, 72%, 46%, 1) 0%, hsla(241, 72%, 46%, 0) 100%);
     border-radius: 100%;
     width: 12.5rem;
     height: 11.25rem;
     margin-left: auto;
     margin-right: auto; 
     text-align: center;
}

h2{
    font-size: 4rem;
    padding-top: 2.5rem;
    color: hsl(0, 0%, 100%);
}
h3{
    color: #7363f0;
}
h4{
    text-align: center;
    font-size: 2rem;
    color: hsl(0, 0%, 100%);
}
p{
    text-align: center;
    margin: 0.625rem 3.75rem 0 3.75rem;
    color: #9d97ff;
}
.right-side{
    background-color: hsl(0, 0%, 100%);
    min-width: 21.8rem;
    height: 28.12rem; 
    border-top-right-radius: 1.25rem;
    border-bottom-right-radius: 1.25rem;
}
.right-side h1{
    margin-left: 3.125rem;
    margin-top: 2.5rem;
    color: hsl(224, 30%, 27%);
}
.reaction, .memory, .verbal, .visual{
    display: flex;
    background-color: #fff6f7;
    margin-top: 1.25rem;
    width: 15.625rem;
    height: 3.125rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1.6rem;
}
button{
    display: block;
    width: 15.625rem;
    height: 3.125rem;
    margin-top: 1.25rem;
    margin-left: auto;
    margin-right: auto;
    background-color: hsl(224, 30%, 27%);
    color: hsl(0, 0%, 100%);
    cursor: pointer;
    border: none;
    border-radius: 1.875rem;
}
.reaction img, .memory img, .verbal img, .visual img{
    width: 1.25rem;
    margin-left: 1.25rem;
}
h5{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 1.666;
}
h6{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: 1.6rem;
}
.react{
    color: hsl(0, 100%, 67%);
}
.memry{
    color: hsl(39, 100%, 56%);
}
.verb{
    color: hsl(166, 100%, 37%);
}
.visu{
    color: hsl(234, 85%, 45%)
}
span{
    color: #bac3c9;
}
@media (max-width: 48rem) {
    main{
        display: block;
        margin-top: auto;
        margin-bottom: auto;
    }
    .left-side{
        right: 0;
        top: 1.6rem;
    }
    .left-side h1{
        padding-top: 1.875rem;
    }
    .right-side{
        margin-bottom: 3.125rem;
        border-top-right-radius: 0;
        border-bottom-left-radius: 1.25rem;
        border-bottom-right-radius: 1.25rem;
    }
    .right-side h1{
        margin-top: 0;
        padding-top: 2.5rem;
    }
}